<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="/stylesheet/styles.css">
    <title>404 - Page Not Found</title>
    
</head>
<body>
    <h1>404</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <p><a href="/home">Go to the homepage</a></p>
</body>
</html>
